
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


.about-container{
    background-color: #48475f;
    min-height: 100vh;
    height: flex;
    width: 100%;
    display: flex;
    
    align-items: top;
    justify-content: center;
    object-fit: contain;
    z-index: 21;
    overflow: hidden;
}

.about-1-container{
    background-color: green;
    min-height: 100px;
    height: flex;
    width: 100%;
    display: flex;
    margin-top: calc(100px + 10vw);
    flex-flow: row;

    align-items: center;
    justify-items: center;
    justify-content: center;
    object-fit: contain;
    z-index: 21;
    overflow: hidden;
}

.left-about{
    background-color: blue;
    min-height: 100px;
    height: 200px;
    width: 50%;
    display: flex;

    align-items: center;
    justify-items: center;
    justify-content: center;
    object-fit: contain;
    z-index: 21;
    overflow: hidden;
}
.right-about{
    color: white;
    font-family: "Mate SC", system-ui;
    font-size: calc(18px + 0.7vw);
    background-color: red;
    min-height: 100px;
    //height: 200px;
    width: 50%;
    display: flex;

    align-items: center;
    justify-items: center;
    justify-content: center;
    object-fit: contain;
    z-index: 21;
    overflow: hidden;
}

@media screen and (max-width: 1700px) {

    .about-1-container{
        flex-flow: column;
    }
    
}

