.assistant-container {
    //background: url('../../../public/images/streetView-BnW.jpg') center center/cover no-repeat fixed;
    background-color: #10101d;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    object-fit: contain;
    z-index: -1;
    overflow: hidden;
    padding-bottom: 20px;
}
