.FAQ-container {
    background-color: #2a2a4e;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    object-fit: contain;
    z-index: -1;
    overflow: hidden;
}

.QS-container {
    background-color: #ffffff;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    object-fit: contain;
    overflow: hidden;
}

.Q-header {
    color: black;    
    
}

.Q-container {
    background-color: #695227;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    object-fit: contain;
    overflow: hidden;
}