@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet');

.FAQ-container {
    background-color: #2a2a4e;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: top;
    padding-top: calc(150px + 5%);
    object-fit: contain;
    z-index: -1;
    overflow: hidden;
}

.QS-container {
    background-color: #ffffff;
    width: calc(200px + 40vw);
    display: flex;
    flex-direction: column;
    
    align-items: left;
    object-fit: contain;
    overflow: hidden;
    margin-bottom: calc(150px + 5%);
}

.Q-container {
    background-color: #695227;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: left;
    object-fit: contain;
    overflow: hidden;
}

.FAQ-header {
    color: black;    
    font-family: "Mate SC", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: calc(35px + 1vw);
    margin-top: calc(15px + 1vw);
    letter-spacing: 2px;
    font-weight: bold;
}

.Q-header {
    color: black;    
    font-family: "Mate SC", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: calc(35px + 0.2vw);
    margin-top: calc(15px + 1vw);
    letter-spacing: 2px;
    font-weight: bold;
}